.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 6rem;
  text-align: left;
  transition: background-color 0.5s ease-in-out; /* Smooth transition effect */

}

.hero {
  margin-bottom: 0.5rem;
  width: 100%;
  opacity: 0; /* Starts hidden for GSAP animation */
}

.title {
  font-size: 4rem;
  color: var(---forest-green);
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--forest-green);
  max-width: 600px;
}

.imageGrid {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.reveal {
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 300px;
  object-fit: cover;
  transform-origin: left;
}


.word {
  display: inline-block;
}


.services {
  padding: 10rem 2rem;
  height: 100vh;
  text-align: left;
  background-color: transparent; /* Will change dynamically with GSAP */
    /* max-width: 800px; */
    width: 100%;
}

.servicesTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--yellow-butter);
  margin-bottom: 1rem;
}


.servicesList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
}

.servicesList li {
  font-size: 3rem;
  color: var(--white-bone);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 120px;
  position: relative;
  border-top: 1px solid var(--white-bone);
  text-transform: uppercase;
}

.serviceIcon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: var(--teal-green);
  position: relative;
  flex-shrink: 0;
}

.icon {
  width: 60px;
  height: 60px;
  background: var(--teal-green);
  opacity: 0.3;
  /* animation: rotateIcon 10s linear infinite; */
}

.servicesList li:hover .icon{
  animation: rotateIcon 10s linear infinite;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
